{layout name="layout/layout" /}
<section class="vbox">
    <section class="scrollable padder">
        <div class="m-b-md">
            <h3 class="m-b-none">{$table_title}</h3>
        </div>
        
        <section class="panel panel-default">
            <header class="panel-heading">
                {$table_title.'列表'}
            </header>
            <div class="row wrapper">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="input-sm form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>创建日期</th>
                            <th style="width: 20rem;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {volist name='list' id='item'}
                    <tr>
                        <td>{$item.name}</td>
                        <td>{:date('Y-m-d H:i:s',$item.create_time)}</td>
                        <td>
                            <a href="#" class="btn btn-xs btn-info btn-rounded"> 查看</a>
                            <a href="#" class="btn btn-xs btn-dark btn-rounded"> 编辑</a>
                            <a href="#" class="btn btn-xs btn-danger btn-rounded action-del" data-href="{:url('admin/del',['id'=>$item.id])}"> 删除</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <small class="text-muted inline m-t-sm m-b-sm"> 共 {$list->total()} 条 </small>
                    </div>
                    <div class="col-sm-9 text-right dataTables_wrapper text-center-xs text-xs">
                        {$list|raw}
                    </div>
                </div>
            </footer>
        </section>
    </section>
</section>

<script>
    $(function () {
        $('.search-btn').on('click',function () {
            var params = $('.filters').serialize();
            refreshDom('{:url("admin/admin")}',params,'#adminadmin .table-responsive');
        });

        $('input[name=search_key]').bind('keydown',function(e){
            if (e.keyCode == 13) {
                var params = $('.filters').serialize();
                refreshDom('{:url("admin/admin")}', params, '#adminadmin .table-responsive');
                return false;
            }
        });

        $('.admin_edit').on('click',function () {
            alt('编辑管理员',$(this));
        });

        $('.admin_add').on('click',function () {
            alt('添加管理员',$(this));
        });

        function alt(title,dom){
            var this_e = dom;
            var url = this_e.data('href');
            var id = this_e.data('id');
            var save_url = '{:url("admin/adminSaveAdd")}';
            layui_iframe.editBuilder(title,url,function (index,layero) {
                //获取弹出层的表单
                var form = layer.getChildFrame('#myform', index);
                if(id){
                    save_url = '{:url("admin/adminSaveAdd")}'+'?id='+id;
                }
                ajax_request.post(save_url,form.serialize(),function (res) {
                    if(res.is_ok == 'ok'){
                        layer.msg(res.msg,{icon:6});
                        layer.close(index);
                        location.reload();//刷新页面
                    }else{
                        layer.msg(res.msg,{icon:5});
                    }
                })
            },['800px','300px'])
        }
    });

</script>
